@using ASP.Server.Model

@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Liste Genre";
}

<div class="listeGenres">
    <h1>Liste des genres:</h1>
    <br />
    <ul class="list-group">
        @foreach (var genre in Model)
        {
            <li class="list-group-item">@genre.Name</li>
        }
    </ul>
</div>


